body {
  background-color: rgb(253 , 251 , 251);
}

#titulo {
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35);
}

#home {
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  text-align: justify;
  background-color: seagreen;
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35);
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: justify;
  background-color: seagreen;
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35);
}

.atalhos {
  position: relative;
  display: inline;
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35);
  border-radius: 2rem;
}

.atalhos:hover {
  color: rgb(143, 143, 129);
  cursor: pointer;
}

.atalhos:focus {
  background-color: rgb(72, 121, 96);
}

#licoes_a_aprender , #licoes_aprendidas {
  width: 15%;
  height: auto;
  border-width: 1rem;
  margin: 1rem;
  padding-top: 2.4rem;
  padding-bottom: 3.2rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35);
  font-size: 0.75rem;
  line-height: 1.5rem;
}

#licoes_aprendidas li , #licoes_a_aprender li {
  margin-left: 2.4rem;
}

#lista_licoes {
  display: flex;
  flex-direction: row;
}

#artigos {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  box-sizing: border-box;
  margin: 1.5rem;
}

#artigos article , #artigos aside {
  margin: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  color: rgb(36 , 36 , 35); /* onde achei a cor http://pt.tacolor.com/hex/5b5b58/ */
  font-size: 0.75rem;
  line-height: 1.5rem;
}

#minha_foto {
  border-radius: 50%;
  margin-top: 2.4rem;
  margin-left: 2.4rem;
  width: 12rem;
}

#git_site {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
